/* .pink{
    background-image: url('../images/837-76072.jpg');
height: 33vw;
background-repeat: no-repeat;
background-attachment: scroll;
background-size: cover;
background-position: center;
border-radius: 1rem;
margin-top: 3%;
width: 94%;
margin: auto;
} */

